# Database Configuration
DB_HOST=db-uscentral-dev.c3q282o4et2s.us-east-2.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=HCZR2wAQ98c234c6KQfg
DB_NAME=clients_detections

# Session Configuration
SESSION_SECRET=erkos_security_dashboard_2024_secret_key

# Server Configuration
PORT=3000
NODE_ENV=development